body, html {
  height: 100%;
  margin: 0;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 45px;
	background-color: #1e1f21 ;
	overflow: hidden;

}

.nav li{
	display: inline;
}

.navb{
	padding-left: 20px;
}

.nav li a{
	display: inline-block;
	color: white;
	padding: 15px 20px;
	padding-left: px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

.nav2 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 45px;
	background-color: #3e2f25 ;
	overflow: hidden;

}

.nav2 li{
	display: inline;
}

.navb{
	padding-left: 20px;
}

.nav2 li a{
	display: inline-block;
	color: white;
	padding: 15px 20px;
	padding-left: px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

.nav-icons{
	color: white; 
	font-size: 15px; 
	margin-left: 0px;
	
}

.nav li a:hover{
	background-color: #4f535c;
	font-weight: 700;
}


.background{
	background-image: linear-gradient(rgba(0,0,0,0.38),rgba(0,0,0,0.38)), url('../images/bg9.jpg');
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.icons{
	
	color: #926852;
	margin-top: 50px;
	margin-left: 10px;
	font-size: 30px;
}

.heading{
	font-family: 'Cinzel Decorative', cursive;; 
	color:white ;
	margin-left: 470px;
	margin-top: 200px;
	font-size: 60px;
}

.side-heading{
	font-family: 'Dancing Script', cursive;;
	color: white;
	margin-left: 550px;
	margin-top: 50px;
	font-size:30px;
}

.container1{
	background-color: black;
}

.recipe{
	text-align: center;
	width: 25%;
	float: left;
}

.recipe-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
}